@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$max-width: em(1260);

.wrapper {
  @include outer-container;
  padding: 0 2em;

  @include media($max-width + 4em) {
    padding: 0;
  }
}

@import "refills/centered-navigation";
@import "refills/hero-unit";

.main {
  @include span-columns(6);
  @include shift(3);
  margin-top: $base-spacing;
}

.who-are-we {
  .wrapper {
    li {
      margin: 1em;
    }

    img {
      height: 99px;
      width: 99px;
    }
  }
}

.mailing-list {
  @include span-columns(6);
  @include shift(3);
  margin-bottom: $base-spacing;

  .required {
    color: crimson;
  }
}

.calendar {
  .main {
    @include span-columns(10);
    @include shift(1);
  }

  .big-container {
    @include media(max-device-width 550px) {
      display: none;
    }
  }

  .small-container {
    @include media(min-device-width 550px) {
      display: none;
    }
  }

  .google-calendar {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 50%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.main,
.mailing-list,
.calendar .main {
  @include media(min-device-width 320px max-device-width 768px) {
    @include span-columns(12);
    @include shift(0);
  }
}

.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $base-spacing;
  }

  ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

@import "tables";
@import "election";
