ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.default {
  list-style-type: disc;
  margin-bottom: .75em;
  padding-left: 1.5em
}

ol.default {
  list-style-type: decimal;
  margin-bottom: .75em;
  padding-left: 1.5em
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
