---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

.google-calendar {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 50%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.who-are-we {
  li {
    list-style: none;
    margin: 1em;
  }

  img {
    height: 99px;
    width: 99px;
  }
}

.mailing-list {
  margin-bottom: 1.5em;

  .required {
    color: crimson;
  }
}

.election,
.somerville-yimby-2021-voter-guide-and-endorsements {
  .question {
    font-size: larger;
  }

  .incumbent {
    color: crimson;
  }

  blockquote {
    font-style: italic;
  }
}

.somerville-yimby-2017-election-questionnaire-responses {
  fieldset {
    label {
      display: block;
    }

    [type="checkbox"] {
      display: inline;
      margin-right: 0.375em;
    }
  }

  .table-container {
    overflow-x: scroll;
  }

  .fixed-headers {
    width: 100%;

    th,
    td {
      padding: 5px;
      text-align: left;
      width: 140px;
    }

    td {
      vertical-align: top;
    }

    td:first-child,
    th:first-child,
    td:last-child,
    th:last-child {
      width: 240px;
    }

    thead {
      background-color: $dark-gray;
      color: #fff;
    }

    tbody {
      tr:nth-child(even) {
        background-color: $light-gray;
      }

      tr:hover > td,
      tr:hover > th {
        background-color: darken($light-gray, 10%);
      }
    }
  }
}
